#pin,
#post-form {
    border-radius: 95px;
    margin: auto;
    margin-bottom: 30px;
    width: 50%;
    border: 5px solid crimson;
    overflow: hidden;
    padding: 20px;
    position: relative;
}

.fill {
    display: flex;
    justify-content: center;
    float: left;
    width: 48%;
    height: 600px;
    overflow: hidden
}

.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

div.text-container {
    float: right;
    width: 48%;
}

div.title h3,
div.description p {
    margin-left: 5%;
}

div.date {
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 48%;
    margin-bottom: 20px;
}

div.date p {
    text-align: right;
    margin-right: 20px;
    margin-left: 5%;
}

header {
    height: 50px;
    padding: 20px;
    margin-bottom: 2%;
}

div a {
    text-decoration: none;
}

div.logo {
    float: left;
}

.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 800;
    font-style: normal;
    font-size: 50px;
    color: crimson;
    padding: 10px;
}

div.new-post-button,
button.post-button {
    background-color: crimson;
    border-radius: 25px;
    padding: 15px;
}

div.new-post-button {
    display: flex;
    float: right;
}

button.post-button {
    color: white;
    display: block;
    margin: 30px auto;
}

.merriweather-sans {
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 800;
    font-style: normal;
}

div a.merriweather-sans {
    color: white;
}

.form-field-padding {
      display: flex;
      justify-content: space-between;
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
      width: 75%;
}

h3.pin-heading {
    color: crimson;
    font-size: 40px;
    padding-top: 0;
    text-align: center;
}

h3.pin-title {
    color: crimson;
    font-size: 30px;
}

p.merriweather-sans {
    font-weight: 350;
}

label.merriweather-sans {
    font-weight: 100;
}

input.merriweather-sans {
    font-size: 15px;
    font-weight: 50;
    padding: 10px;
}

input {
    width: 75%;
}