{% extends 'base.html' %}

{% block content %}

    <section>

        <ul>
            {% for data in pins %}
                <li id="pin">
                    <div class="fill">
                        <img src="{{ data['image'] }}" alt="Mintrest Picture"/>
                    </div>
                    <div class="text-container">
                        <div class="title">
                            <h3 class="merriweather-sans pin-title">{{ data['title'] }}</h3>
                        </div>
                        <div class="description">
                            <p class="merriweather-sans">{{ data['description'] }}</p>
                        </div>
                    </div>
                    <div class="date">
                        <p class="merriweather-sans">{{ data['date'] }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
        
    </section>

{% endblock %}                      