{% extends 'base.html' %}

{% block content %}

    <section>
        <a href="{{ url_for('new_post') }}">New Post</a>
    </section>

    <section>
        <ul>
            {% for data in pins %}
                <div id="pin">
                    <div>
                        <img src="{{ data['image'] }}" alt="Mintrest Picture"/>
                    </div>
                    <div>
                        <h3>{{ data['title'] }}</h3>
                    </div>
                    <div>
                        {{ data['description'] }}
                    </div>
                    <div>
                        {{ data['date'] }}
                    </div>
                </div>
            {% endfor %}
        </ul>
    </section>

{% endblock %}                      