{% extends 'base.html' %}

{% block content %}

<!-- <section>
    <div id="post-form">
        <form action="{{ url_for('new_post')}}" method="post">
            <div>
                <label for="title">Title</label>
                <input type="text" name="title" placeholder="Give Your Pin a Title">
            </div>
            <div>
                <label for="image">Image</label>
                <input type="text" name="image" placeholder="Give Your Pin an Image">
            </div>
            <div>
                <label for="description">Description</label>
                <input type="text" name="description" placeholder="Give Your Pin a Description">
            </div>
            <div class="new-post-button">
                <button class="merriweather-sans-post>">Post</button>
            </div>
        </form>
    </div>
</section> -->

<section>
    <div id="post-form">
        <form action="{{ url_for('new_post')}}" method="post">
            <div class="form-field-padding">
                <label for="title" class="merriweather-sans">Title</label>
                <input type="text" name="title" placeholder="Give Your Pin a Title" class="merriweather-sans">
            </div>
            <div class="form-field-padding">
                <label for="image" class="merriweather-sans">Image</label>
                <input type="text" name="image" placeholder="Give Your Pin an Image" class="merriweather-sans">
            </div>
            <div class="form-field-padding">
                <label for="description" class="merriweather-sans">Description</label>
                <input type="text" name="description" placeholder="Give Your Pin a Description" class="merriweather-sans">
            </div>

            <button class="merriweather-sans post-button">Post Pin</button>

        </form>
    </div>
</section>

{% endblock %}